.container{
  margin: auto 5px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__items{
  text-align: justify;
  padding: 0 15px;
  width: 20%;
  margin-top: 15px;
}
.createItem{
  margin-top: 10px;
  width: 100%;
  background-color: #58bebf;
  color: #fff;
  font-weight: bold;
}
