<form #addForm = "ngForm" (ngSubmit)="createItem()">
  <div>
    <p>Id:</p>
    <input type="number" [(ngModel)]="pet.id" name="petId" #idError="ngModel" pattern="[0-9]+$" required>
  </div>
  <div *ngIf="idError.errors?.pattern" style="color: #285aff"> Enter number!!!</div>

  <div>
    <p>Url:</p>
    <input type="text" [(ngModel)]="pet.url" name="petUrl" #urlError="ngModel" pattern="https?://.*" required>
  </div>
  <div *ngIf="urlError.errors?.pattern" style="color: #285aff">The address should begin with http:// or https://</div>

  <div>
    <p>Title:</p>
    <input type="text" [(ngModel)]="pet.title" name="petTitle" #titleError="ngModel">
  </div>

  <button [disabled]="addForm.invalid">Create</button>
</form>


<div class="gallery">
    <app-gallery-item [item]="item" *ngFor="let item of galleryItems" (delId)="deleteItem($event)" class="gallery__items"></app-gallery-item>
</div>
